* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #000;
}

html {
  font-size: 62.5%;
}

/* HELPERS */

.container {
  max-width: 144rem;
  margin: 0 auto;
  margin-top: 4rem;
  padding: 0 5rem;
}

.help-btn {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 3.4rem;
  line-height: 4.114rem;
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 5px;
  color: #000;
}

.hidden {
  display: none !important;
}

.header {
  height: 6.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
  padding: 0 5rem;
}

.header-img-box {
  max-width: 23.3rem;
}

.afriart-logo {
  height: 6.6rem;
  /* width: 100%; */
}

.header-search-and-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.3rem;
  position: relative;
  max-width: 78.1rem;
}

.search-bar {
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  padding: 1rem 1rem 1rem 4rem;
  width: 43rem;
}
.search-icon {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  width: 2.2rem;
  height: 2.2rem;
}

.search-bar:focus-visible {
  border: none;
  outline: none;
}

.links {
  display: flex;
  list-style: none;
  gap: 3rem;
}

.link {
  cursor: pointer;
  font-size: 2.2rem;
  text-transform: capitalize;
  line-height: 2.663rem;
}

.link:last-child::after {
  content: "New";
  font-size: 1.2rem;
  margin-left: 0.8rem;
  background: linear-gradient(180deg, #1bf423 0%, #f1fc18 100%);
  border-radius: 20px;
  padding: 1rem;
  color: #fff;
}

.header-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.3rem;
  max-width: 25.7rem;
}

.cta-btn {
  font-size: 2.2rem;
  line-height: 2.663rem;
  font-weight: 500;
  color: #fff;
  background-color: #0442cb;
  border: none;
  padding: 1rem;
  border-radius: 2rem;
  text-transform: capitalize;
}

/* ////////////////////////////////////// */

.heading-primary-box {
  display: flex;
  justify-content: center;
}
/* //////////////////////////// */

/* Footer */
.footer {
  background-color: #0442cb;
  padding: 4.5rem 5rem;
  max-width: 100%;
}

.footer-links,
.other-links,
.footer-other-links {
  display: flex;
  list-style: none;
}

.footer-links,
.other-links,
.footer-other-links {
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  padding-bottom: 2.1rem;
  border-bottom: 1px solid #ffffff80;
}
.footer-link a,
.footer-other-link a {
  text-decoration: none;
  color: #fff;
}

.footer-link a {
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 5.25rem;
  letter-spacing: 0.01em;
  text-align: left;
}
.footer-other-link a {
  font-size: 2.8rem;
  line-height: 4.2rem;
  letter-spacing: 0.01em;
  text-align: left;
  color: #ffffff99;
  margin-right: 2rem;
}

@media (max-width: 88.5em) {
  html {
    font-size: 50%;
  }
}
